<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Miami Today Article Scraper</title>
</head>

<body>
  <div class="container">
    <div class="nav-scroller py-1 mb-2">
      <nav class="navbar  bg-dark">
        <a class="p-2 text-muted" href="./">Home</a>
        <a class="p-2 text-muted" href="./articles">Saved Articles</a>
      </nav>
    </div>
    <div class="jumbotron jumbotron-fluid p-3 p-md-5 text-white  bg-dark">
      <div class="col-md-8 px-0">
        <h1 class="display-5 font-bold ">Miami Today Article Scrapper</h1>
        <p class="lead my-3 ">A web scrapper for Miami Today articles</p>
      </div>
    </div>
    {{{body}}}
  </div>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="/js/index.js"></script>
</body>


</html>